@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --background: #181720;
    --color: #22212A;

    --text: #BFC0C1;
    --text_light: #F1EDF9;
    --primary: #583EBC;
    --secondary: #3EBC87;
    --third: #BC3E3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

body {
    background-color: var(--background);

}
button{
    border: 0;
    
}
header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 2rem 4rem;
    
    .card_back{
        background-color: #22212A;
        border: 1px solid #2c2b35;
        color: var(--text);
        padding: 1rem;
        font-weight: 800;
        font-size: .8em;
        border-radius: 25px;
        transition: .4s;
        cursor: pointer;
    }
    .card_back:hover{
        background-color: #583EBC;
        color: var(--text_light);
    }
}

section{
    height: 100vh;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    
    .card_container{
        color: #FFF;
        width: 75%;
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;

       .card_article{
            width: 40%;
            display: flex;
            align-items: start;
            flex-direction: column; 

            h1{
                font-weight: 900;
                font-size: 3em;
            }
            .button_container{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;

                button{
                    width: 100%;
                    padding: .8rem;
                    border-radius: 15px;
                    background-color: #FFF;
                    font-size: 1em;
                    font-weight: 700;
                }
                button:nth-child(2){
                    background-color: #583EBC;
                    color: #FFF;
                }
            }
       }

        .card_description{
            width: 60%;

            img{
               width: 100%;
                border-radius: 15px;
                margin-bottom: 1.5rem;
            }
            p{
    
                color: var(--text);
            }
        }
    }
    
}