@import '../../index.sass'

header
    opacity: 0
    visibility: hidden
    transition: all .5s ease
    position: fixed
    top: 0%
    margin-top: 1.5rem
    width: 85%
    background-color: $color
    padding: .5rem
    height: 70px
    border-radius: 35px
    border: 1px solid #2b303a
    i
        @include flexCenter(row)

    a
        @extend i
        gap: 15px
        width: 100%
        height: 100%

    .header_ul
        width: 100%
        justify-content: space-between
        height: 100%

    .header_li
        gap: 10px
        font-weight: 800
        color: $text
        width: 15%
        border-radius: 35px
        transition: all .3s ease
        cursor: pointer

    .header_li:hover
        background-color: $primary

        a
            color: $text-light

.scroll_header
    opacity: 1
    visibility: visible
    @include flexCenter(row)
