@import '../../../index.sass'

.about_section
    @include flexCenter(row)
    background-color: $color
   

    .about_container
        width: 75%

    .about_text
        color: #FFF

        h1
            width: 400px
            @include title(2.3em)
            

        p
            margin: 20px 0
            font-size: 1em

        .about_p
            width: 60%
            font-weight: 600

        button
            @include flexCenter(row)
            gap: 15px
            padding: .75rem 1.5rem
            font-size: 1em
            font-weight: 800
            cursor: pointer
            border-radius: 10px
            color: $text-light
            background-color: $primary

        .about_follow
            @include flexCenter(row)
            width: 40%
            justify-content: space-between
            gap: 10px
            span
                width: 20%
                
                display: block
                background-color: #FFF
                height: 3px
                border-radius: 50px
            p
                font-weight: 500
            ul
                gap: 15px

                li
                    @include flexCenter(row)
                    background-color: #FFF
                    color: $color
                    padding: 8px
                    font-size: 16px
                    cursor: pointer
                    border-radius: 8px
