@import '../../../index.sass'

.home_section
    @include flexCenter(column)
    justify-content: start
    height: 100vh
    padding: 0 2rem 
    .home_container
        height: 100%
        width: 100%

        .home_title
            display: flex
            justify-content: start
            align-items: end
            height: 100%
            width: 40%
            h1
                @include title(8em)
                text-transform: uppercase
