@import '../../../../index.sass'

.card_header
    display: flex
    align-items: center
    justify-content: end
    width: 80%

    .card_back
        background-color: $color
        border: 1px solid #2b303a
        color: $text
        padding: .8rem
        font-weight: 800
        font-size: .8em
        border-radius: 15px
        transition: .4s
        cursor: pointer

        &:hover
            background-color: $primary
            color: $text-light
            border: 1px solid $primary

.card_section
    padding: 1rem
    justify-content: start

    .card_container
        margin-top: 3rem
        width: 75%
        display: flex
        align-items: start
        flex-direction: row-reverse
        gap: 2rem

        .card_article
            width: 30%
            display: flex
            gap: 1rem
            align-items: start
            flex-direction: column

            h1
                @include title(4em)
                text-transform: capitalize

            .button_container
                display: flex
                flex-direction: column
                width: 100%
                gap: 1rem

                button
                    @include flexCenter(row)
                    width: 100%
                    border-radius: 10px
                    background-color: #FFF
                    color: $background
                    padding: .75rem 1.5rem
                    font-size: 1em
                    font-weight: 800
                    cursor: pointer
                    gap: 15px

                    i
                        color: $background

                button:nth-child(2)
                    background-color: #583EBC
                    color: #FFF

                    i
                        color: #FFF

            .card_language
                label
                    @include title(1.5em)

                ul
                    gap: 1rem                    

    .card_description
        width: 70%

        img
            width: 100%
            border-radius: 15px
            margin-bottom: 1.5rem
        p
            font-size: 1em
            color: $text
