@import '../../../index.sass'

.projects_section
    padding: 2rem


    .projects_text
        text-align: center
        color
        h1
            @include title(2em)  

        p
            margin: 10px 0
